body {
    background-color: rgb(181, 193, 193);
    background-position: middle;
    max-width: 1000px;
    margin: 0 auto;

    
}

#bg-right  {
    background-color: rgb(125, 170, 170);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 10%;
    right: 10%;
    z-index: -1;
} 


  h1 {
    color: rgb(16, 12, 12);
    text-align: center;
  }
  div {background-color: rgb(67, 72, 72);
    opacity: 0.3;
 }
  
  p {
    font-family: serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
  }

  a:link {
    color: rgb(186, 66, 66);
}

a:visited {
    color: rgb(172, 61, 61);
}

